{% extends 'base.html' %}

{% block title %}Профиль{% endblock %}
{% block content %}
    </br>
	    <h2>Ваш профиль</h2>
    </br>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                <div class="container">
                    <div class="row">
                        <div class="col-8">
                <h2>{{ user.username }}<br/></h2>
                <h6>{{ user.email }}<br/></h6>
            </p>
            </div>
        </div>
    </div>
    <br/>
    <a href="" class="btn btn-danger btn-sm">Удалить аккаунт</a>
    <br/>
{% endblock %}