{% extends 'base.html' %}

{% block title %}Аттракционы{% endblock %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">ПАРКИОН</h1>
            <p class="lead text-body-secondary">Уникальный парк аттракционов, где вас ждут захватывающие приключения и незабываемые впечатления!</p>
        </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/gipnotik.jpg') }}">
              <div class="card-body">
                <h4>Гипнотик</h4>
                  <p class="lead"><small class="lead">Экстремальные</small></p>
                  <p class="card-text">При движении лучи вращаются по синхронизированным орбитам, поднимая посетителей на высоту птичьего полета.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>105<small class="text-muted"> см</small></div>
                      <div>500<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/ladia.jpg') }}">
              <div class="card-body">
                <h4>Ладья «360»</h4>
                  <p class="lead"><small>Экстремальные</small></p>
                  <p class="card-text">Аттракцион «360» в парке развлечений «Паркион» подарит вам целое море незабываемых ощущений. Вы будете смеяться и замирать от волнения.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>120<small class="text-muted"> см</small></div>
                      <div>500<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/kraken.jpg') }}">
              <div class="card-body">
                <h4>Кракен</h4>
                  <p class="lead"><small>Экстремальные</small></p>
                  <p class="card-text">Гроза ирландских моряков протянет к вам свои щупальца и заставит испытать целое море невероятных эмоций!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>120<small class="text-muted"> см</small></div>
                      <div>500<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/koleco.jpg') }}">
              <div class="card-body">
                <h4>Колесо обозрения</h4>
                  <p class="lead"><small>Семейные</small></p>
                  <p class="card-text">Колесо обозрения по праву имеет славу самого романтичного аттракциона в мире.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>50<small class="text-muted"> см</small></div>
                      <div>600<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/bashnia.jpg') }}">
              <div class="card-body">
                <h4>Малая башня падения</h4>
                  <p class="lead"><small>Семейные</small></p>
                  <p class="card-text">Специально для вас детская башня падения в 12 метров – это всего лишь высота 4-х этажного дома!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>105<small class="text-muted"> см</small></div>
                      <div>500<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/koleco.jpg') }}">
              <div class="card-body">
                <h4>Цепочная карусель</h4>
                  <p class="lead"><small>Семейные</small></p>
                  <p class="card-text">Разделение на внутренний и внешний круг позволяет кататься как крохам, так и детям постарше.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>110<small class="text-muted"> см</small></div>
                      <div>500<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/karysel.jpg') }}">
              <div class="card-body">
                <h4>Сказочная карусель</h4>
                  <p class="lead"><small>Детские</small></p>
                  <p class="card-text">Сказочная карусель с лошадками — незыблемая мировая классика, обожаемая не только детьми, но и взрослыми!</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>50<small class="text-muted"> см</small></div>
                      <div>400<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/cahki.jpg') }}">
              <div class="card-body">
                <h4>Чашки</h4>
                  <p class="lead"><small>Детские</small></p>
                  <p class="card-text">Только представьте, как здорово кружиться в шумной компании под веселую музыку! </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>75<small class="text-muted"> см</small></div>
                      <div>400<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/attraction/reks.jpg') }}">
              <div class="card-body">
                <h4>Карусель "Рекс"</h4>
                  <p class="lead"><small>Детские</small></p>
                  <p class="card-text">Заводная щенячья игра обязательно оставит самые светлые и теплые воспоминания в памяти.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div><small class="text-muted">от </small>90<small class="text-muted"> см</small></div>
                      <div>400<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}