{% extends 'base.html' %}

{% block title %}{{ items.name }}{% endblock %}
{% block content %}
    <div class="row featurette" style="padding-top: 30px;">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1"><span class="text-body-secondary">{{ items.name }}</span></h2>
        <p class="lead"><small>{{ items.view }}</small></p>
        <p class="lead">{{ items.descriptions }}</p>

        <div class="mb-3 bg-body-tertiary rounded">
          <h4 class="fs-4">от {{ items.height }} см</h4>
          <h4 class="fs-4">{{ items.price }} руб.</h4>
        </div>

        <a href="{{ url_for('attractions') }}" class="btn btn-primary">Назад</a>
        <a href="{{ url_for('price') }}" class="btn btn-warning">По абонементу от 199₽</a>
    </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="var(--bs-secondary-bg)"></rect><text x="50%" y="50%" fill="var(--bs-secondary-color)" dy=".3em">500x500</text></svg>
      </div>
    </div>
{% endblock %}