{% extends 'base.html' %}

{% block title %}Тематические парки{% endblock %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">ПАРКИОН</h1>
            <p class="lead text-body-secondary">Уникальный парк аттракционов, где вас ждут захватывающие приключения и незабываемые впечатления!</p>
        </div>
        </div>
    </section>

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/temparks/dinopark.jpg') }}">
              <div class="card-body">
                <h4>Дино сафари</h4>
                  <p class="card-text">Вас ждет увлекательная поездка на сафари-джипах по тропическому острову с тщательно воссозданной атмосферой</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div>900<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/temparks/dino.jpg') }}">
              <div class="card-body">
                <h4>Дино парк</h4>
                  <p class="card-text">Вы перенесетесь в увлекательный мир, где увидите тех, кто жил на нашей планете во времена юрского периода.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div>900<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/temparks/alipaka.jpg') }}">
              <div class="card-body">
                <h4>Альпака парк</h4>
                  <p class="card-text">Здесь вы сможете не просто полюбоваться на милых питомцев, но и собственноручно дать им лакомство.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div>900<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
  
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/temparks/haski.jpg') }}">
              <div class="card-body">
                <h4>Хаски Лэнд</h4>
                  <p class="card-text">Дети и взрослые получат незабываемое удовольствие от общения с великолепными хаски/</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div>900<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/temparks/topiari.png') }}">
              <div class="card-body">
                <h4>Топиари парк</h4>
                  <p class="card-text">Здесь вас ждут потрясающие скульптуры из живых растений, они приведут в восторг детеq и взрослых.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div>900<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card shadow-sm">
              <img class="card_photo" src="{{ url_for('static', filename='images/temparks/enotia.jpg') }}">
              <div class="card-body">
                <h4>Страна Енотия</h4>
                  <p class="card-text">В зоопарке представлено более 30 видов животных: пернатых, чешуйчатых, пушистых. </p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                  </div>
                  <div class="text-body-secondary">
                      <div>900<small class="text-muted"> рублей</small></div>
                  </div>
                </div>
              </div>
            </div>
          </div> 
{% endblock %}