{% extends 'base.html' %}

{% block title %}Мероприятия{% endblock %}
{% block content %}
    <h1 class="title">День Рождения</h1>
    <div class="slider" x-data="{start: true, end: false}">
    <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/vecherinka.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>ВЕЧЕРИНКА В РИТМЕ СКАЗОК</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/orel.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>ОРЁЛ&РЕШКА – ПРАЗДНИК НА УДАЧУ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/planeta.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>ПЛАНЕТА ДИНОЗАВРОВ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/ograb.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>ИДЕАЛЬНОЕ ОГРАБЛЕНИЕ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/ostrov.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>ОСТРОВ СОКРОВИЩ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/blog.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БЛОГ ПАТИ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/missia.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>МИССИЯ ВЫПОЛНИМА</h2>
        </div>
        </div>
    </div>
    </div>

          <h1 class="title">Корпоративы</h1>
          <div class="slider" x-data="{start: true, end: false}">
          <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
              <div class="slider__item">
              <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/ekoloft.jpg') }}" alt="Image">
              <div class="slider__info">
                  <h2>ЭКОЛОФТ</h2>
              </div>
              </div>
              <div class="slider__item">
              <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/eks.jpg') }}" alt="Image">
              <div class="slider__info">
                  <h2>ИНТЕРАКТИВНЫЕ ЭКСКУРСИИ</h2>
              </div>
              </div>
              <div class="slider__item">
              <img class="slider__image" src="{{ url_for('static', filename='images/meropriyatia/arenda.jpg') }}" alt="Image">
              <div class="slider__info">
                  <h2>АРЕНДА ПАРКА ДЛЯ БОЛЬШИХ КОМПАНИЙ</h2>
              </div>
            </div>
          </div>

    <form class="order-form">
      <h4>Узнать подробности</h4>
      <br>
      <div class="form-group">
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
      </div>
      
      <div class="form-group">
        <label for="phone">Номер телефона:*</label>
        <input type="tel" id="phone" name="phone" required>
      </div>
      
      <div class="form-group">
        <label for="event-type">Тема праздника:</label>
        <select id="event-type" name="event-type" required>
          <option value="">Выберите тему</option>
          <option value="birthday">День Рождения</option>
          <option value="wedding">Коропоротивы</option>
          <option value="other">Другое</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="message">Сообщение:</label>
        <textarea id="message" name="message" rows="4" required></textarea>
        <p>* Менеджер позвонит Вам в течении часа</p>
      </div>
      
      <button type="submit" class="submit-btn">ОТПРАВИТЬ</button>
    </form>
{% endblock %}