{% extends 'base.html' %}

{% block title %}Цены{% endblock %}
{% block content %}
    <p style="text-align: center;">
        <span>Вход на территорию парка свободный, гости оплачивают только посещаемые развлечения. Парк включает в себя 30 развлечений для любого возраста и времени года. Работает ежедневно с 10:00 до 22:00.</span>
        <br>Средняя стоимость билетов: на аттракционы - 500 ₽, на тематические парки - 900 ₽.</span>
        <b><span>По абонементам и безлимитам посещение парка значительно выгоднее - от 199 ₽ за билет.</span></b>
   </p>

   <div class="price_block"> 
        <div class="container">
                <h3>Безлимиты</h3>
            <table class="delivery">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Срок действия</th>
                    <th>Оффлайн билеты</th>
                    <th>Онлайн билеты</th>
                </tr>
                </thead>
                <tbody>
                    {% for prices in prices %}
                        <tr>
                            <td>{{ prices.name }}</td>
                            <td>{{ prices.period }}</td>
                            <td>{{ prices.off_tickets }}</td>
                            <td><button class="table_button">{{ prices.onn_tickets }}</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <p>* Безлимит аттракционы предоставляет право посещения всех <b>аттракционов</b> неограниченное количество раз, в течение выбранного срока действия. 1 безлимит действует на 1 персону.</p>
            <p>** Безлимит любые развлечения предоставляет право посещения всех <b>тематических парков</b> и <b>аттракционов</b> неограниченное количество раз, в течение выбранного срока действия. 1 безлимит действует на 1 персону.</p>
        </div>


        <div class="price_block_two">
            <div class="container">
                <h3>Абонементы</h3>
            <table class="delivery">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Кол-во билетов</th>
                    <th>Срок действия</th>
                    <th>Цена за 1 билет</th>
                    <th>Онлайн билеты</th>
                </tr>
                </thead>
                <tbody>
                    {% for abons in abons %}
                        <tr>
                            <td>{{ abons.name }}</td>
                            <td>{{ abons.number_of_tickets }}</td>
                            <td>{{ abons.period }}</td>
                            <td>{{ abons.one_tickets }}</td>
                            <td><button class="table_button">{{ abons.onn_tickets }}</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
                </table>
                    <p>* Сертификат с любым депозитом доступен от 3000 рублей, используется для оплаты любых развлечений парка, покупки абонементов, безлимитов и дополнительных услуг.</p>
                </div>
            </div>

            <div class="price_block_two">
                <div class="container">
                    <h3>Сертификаты</h3>
                <table class="delivery">
                    <thead>
                    <tr>
                        <th>Название</th>
                        <th>Срок активации</th>
                        <th>Покупка онлайн</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for certif in certif %}
                            <tr>
                                <td>{{ certif.name }}</td>
                                <td>{{ certif.period }}</td>
                                <td><button class="table_button">{{ certif.tickets }}</button></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                    </table>
                        <p>* Сертификат с любым депозитом доступен от 3000 рублей, используется для оплаты любых развлечений парка, покупки абонементов, безлимитов и дополнительных услуг.</p>
                    </div>
                </div>

        <div id="price-description">
            <h3>Информация</h3>
            Один Безлимитный абонемент действует на <b>1</b> персону. <b>При онлайн покупке на указанную почту придёт письмо с qr-кодом, который нужно показать в кассе парка для получения индивидуального браслета</b>. В случае подмены, передачи или снятия браслета абонемент аннулируется.<br>
            <br>
            Абонементы 10-30 билетов можно использовать сразу <b>нескольким гостям</b>, за каждого посетителя списывается <b>1</b> билет. При онлайн покупке на указанную почту придёт письмо с qr-кодом, который нужно показать сотрудникам парка (операторам развлечений) для прохода. <b>Абонемент не требует активации на кассах</b>.
            <br>
            <br>
            После списания первого билета по карте парка за любой аттракцион или развлечение, абонемент не подлежит возврату. Абонементы не оплачиваются бонусным счётом карты парка Сказка.
            <br>
            <br>
            Для посещения одного и того же аттракциона два раза подряд, <b>требуется перерыв в 10 минут</b> для восстановления вестибулярного аппарата.<br>
            <br>
            Режим работы аттракционов и парка может меняться <b>в зависимости от погодных условий</b>.
            <br>
            <br>
            На всех аттракционах, где детям требуется сопровождение взрослого <b>старше 18 лет</b>, сопровождающий проходит <b>бесплатно</b>, за <b>исключением</b> Колеса обозрения - на данном аттракционе сопровождение <b>оплачивается</b>.
            <br>
            <br>
            Во всех тематических парках оплачивается сопровождение детей, возраст или рост которых требует сопровождения взрослых по правилам безопасности.
        </div>
</div>
{% endblock %}