{% extends 'base.html' %}

{% block title %}{% endblock %}
{% block content %}
    <div class="container">
        <h1>Редактировать</h1>
        <form method="post">
            <input type="text" class="form-control" name="name" value="{{ promo.name }}" placeholder="Название:"><br>
            <input type="text" class="form-control" name="conditions" value="{{ promo.conditions }}" placeholder="Условия:"><br>
            <textarea type="text" class="form-control" name="description" placeholder="Описание:">{{ promo.description }}</textarea><br>
            <a href="{{ url_for('promotions') }}" class="btn btn-success">Назад</a>
        </form>
    </div>
{% endblock %}