{% extends 'base.html' %}

{% block title %}Добавление акций и льгот{% endblock %}
{% block content %}
    <div class="container">
        <h1>Добавление акций и льгот</h1>
        <form method="post">
            <input type="text" class="form-control" name="name" placeholder="Название:"><br>
            <input type="text" class="form-control" name="conditions" placeholder="Условия:"><br>
            <textarea type="text" class="form-control" name="description" placeholder="Описание:"></textarea><br>
            <button class="btn btn-success" type="submit">Добавить акций и льгот</button>
        </form>
    </div>
{% endblock %}