@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  background-color: #93C0C1;
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 500;
}

p {
  margin-top: 10px;
}

.header_logo {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 15%;
  min-width: 150px;
}
.header_logo .header_text {
  text-transform: uppercase;
}

.nav-link {
  color: black;
  text-transform: uppercase;
  display: block;
  float: left;
  height: 30px;
  border-radius: 13px;
  padding: 4px 6px;
  margin: 3px;
}

.nav-link:hover {
  background: #659C9D;
  color: black;
}

/*Кнопки*/
.text-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-primary {
  background-color: #659C9D;
  color: black;
  border: none;
  outline: none;
  margin-right: 5px;
}

.btn-primary:hover {
  background-color: #659C9D;
  color: black;
}

/*Выпадающий список*/
.dropbtns {
  background-color: #659C9D;
  width: 70px;
  height: 70px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.dropdown-content {
  background-color: #659C9D;
}
.dropdown-content .dropdown-item {
  text-transform: uppercase;
}

.dropdown {
  float: right;
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  right: 0;
  z-index: 1;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.btn-outline-secondary {
  background-color: #93C0C1;
  color: black;
  font-weight: 600;
  border: none;
  outline: none;
}

.btn-outline-secondary:hover {
  background-color: #659C9D;
  color: black;
}

.card_photo {
  border-radius: 5px;
  height: 300px;
  display: flex;
  align-items: center;
}

/*Страница Аттракционы*/
/*Страница Цены*/
.price_block h3 {
  text-align: center;
  margin-top: 10%;
  margin-bottom: 25px;
  font-weight: 700;
}

.price_block_two h3 {
  margin-top: 10%;
}

.price_block_three {
  margin: auto;
}

.table_button {
  background-color: #659C9D;
  width: 70%;
  height: 60px;
  border-radius: 40px;
  border: none;
  outline: none;
}

table.delivery {
  width: 100%;
  border: 0px;
  border-collapse: collapse;
}

table.delivery thead {
  font-weight: bold;
}

table.delivery td {
  padding: 10px;
  border-bottom: 2px solid #659C9D;
  font-weight: 600;
}

table.delivery th {
  padding: 10px;
  border-bottom: 2px solid #659C9D;
}

/*Карусель фото*/
.carousel-container {
  width: 85%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: var(--lx-gap);
}
.carousel-container .carousel {
  aspect-ratio: 16/9;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-container .carousel .text-center {
  padding: 25px;
}
.carousel-container .carousel .item {
  opacity: 0;
  width: 100%;
  height: 100%;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.carousel-container .carousel .item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.carousel-container .carousel .item .caption {
  width: 100%;
  padding: var(--lx-space-01);
  position: absolute;
  bottom: 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
  background-color: rgba(0, 0, 0, 0.5);
}
.carousel-container .carousel .item.active {
  opacity: 1;
  display: block;
}
.carousel-container .btn {
  padding: 1em 2em;
  position: absolute;
  transform: translateY(-50%);
  top: 56%;
  outline: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 900;
  color: #10100e;
  background-color: #659C9D;
  transition: transform 0.2s ease-in-out;
}
.carousel-container .btn:active, .carousel-container .btn:focus {
  transform: translateY(-50%) scale(0.9);
}
.carousel-container .btn:hover {
  transform: translateY(-50%) scale(0.96);
}
.carousel-container .prev {
  left: -3%;
}
.carousel-container .next {
  right: -3%;
}
.carousel-container .dots {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.carousel-container .dots .dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  background-color: #659C9D;
  transition: background-color 0.2s ease;
  margin-top: 10px;
  border-radius: 50%;
}
.carousel-container .dots .dot.active, .carousel-container .dots .dot:hover {
  background-color: #ffffe6;
}/*# sourceMappingURL=base.css.map */