{% extends 'base.html' %}

{% block title %}Аттракционы{% endblock %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Expoventures</h1>
            <p class="lead text-body-secondary">Уникальный парк аттракционов, где вас ждут захватывающие приключения и незабываемые впечатления!</p>
        </div>
        </div>
    </section>

    <div class="container">
      <a href="" class="btn btn-primary">Всё</a>
      <a href="" class="btn btn-primary">Экстремальные</a>
      <a href="" class="btn btn-primary">Семейные</a>
      <a href="" class="btn btn-primary">Десткие</a>
      <a href="" class="btn btn-primary">Интерактивные</a>
    </div>

    <div class="album py-5 bg-body-tertiary">
        <div class="container">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for el in data %}
            <div class="col">
              <div class="card shadow-sm">
                <img class="card_photo" src="{{ url_for('static', filename='images/attractions/russkaya_gora.jpg') }}">
                <div class="card-body">
                  <h4>{{ el.name }}</h4>
                  <p class="card-text">{{ el.description }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">В КОРЗИНУ</button>
                    </div>
                    <div class="text-body-secondary">
                            <div><small class="text-muted">от </small>{{ el.height }}<small class="text-muted"> см</small></div>
                            <div>{{ el.price }}<small class="text-muted"> рублей</small></div>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
          {% endblock %}
        </div>
      </div>
    </div>