{% extends 'base.html' %}

{% block title %}Аттракционы{% endblock %}
{% block content %}
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">Expoventures</h1>
            <p class="lead text-body-secondary">Уникальный парк аттракционов, где вас ждут захватывающие приключения и незабываемые впечатления!</p>
        </div>
        </div>
    </section>

    <div class="container">
      <a href="" class="btn btn-primary">Всё</a>
      <a href="" class="btn btn-primary">Экстремальные</a>
      <a href="" class="btn btn-primary">Семейные</a>
      <a href="" class="btn btn-primary">Десткие</a>
      <a href="" class="btn btn-primary">Интерактивные</a>
    </div>

    
    <div class="album py-4 bg-body-tertiary">
          <div class="container">
            <div class="row">
              {% for el in data %}
              <div class="col-md-4 mt-3">
                  <div class="card">
                    <img class="card_photo" src="" alt="">
                    <div class="card-body shadow-sm">
                      <h4>{{ el.name }}</h4>
                      <p class="card-text">{{ el.description }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <button type="button" class="btn btn-sm btn-outline-secondary">В КОРЗИНУ</button>
                        </div>
                        <div class="text-body-secondary">
                                <div><small class="text-muted">от </small>{{ el.height }}<small class="text-muted"> см</small></div>
                                <div>{{ el.price }}<small class="text-muted"> рублей</small></div>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
            {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}

    <div class="album py-5 bg-body-tertiary">
      <div class="container">
          <div class="col">
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                  </div>
                  <small class="text-body-secondary">9 mins</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
