{% extends 'base.html' %}

{% block title %}Главная{% endblock %}
{% block content %}
    <h1 class="title">Акции</h1>
    <div class="slider" x-data="{start: true, end: false}">
    <div class="slider__content" x-ref="slider" x-on:scroll.debounce="$refs.slider.scrollLeft == 0 ? start = true : start = false; Math.abs(($refs.slider.scrollWidth - $refs.slider.offsetWidth) - $refs.slider.scrollLeft) < 5 ? end = true : end = false;">
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/hb.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>ВСЕМ ИМЕНИННИКАМ ПОДАРКИ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/promo.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>СОЦИАЛЬНАЯ АКЦИЯ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/grgp.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БИЛЕТЫ ДЛЯ ПЕНСИОНЕРОВ И ВЕТЕРАНОВ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/child.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БИЛЕТЫ ДЛЯ МНОГОДЕТНЫХ СЕМЕЙ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/ligot.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БИЛЕТЫ ДЛЯ ЛЬГОТНЫХ КАТЕГОРИЙ ГРАЖДАН</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/bilet.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БИЛЕТЫ ПО КАРТЕ МОСКВИЧА</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/med.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БИЛЕТЫ ДЛЯ МЕДИЦИНСКИХ РАБОТНИКОВ</h2>
        </div>
        </div>
        <div class="slider__item">
        <img class="slider__image" src="{{ url_for('static', filename='images/main/bus.jpg') }}" alt="Image">
        <div class="slider__info">
            <h2>БЕСПЛАТНЫЙ АВТОБУС ДО ПАРКА</h2>
        </div>
        </div>
    </div>
    </div>

    <div class="block_special">
        <div class="container">
            <h3>СПЕЦИАЛЬНО ДЛЯ ВАС</h3>

            <div class="album py-5 bg-body-tertiary">
                <div class="container">
                  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                      <div class="card shadow-sm">
                        <img class="card_photo" src="{{ url_for('static', filename='images/attraction/gipnotik.jpg') }}">
                        <div class="card-body">
                          <h4>Гипнотик</h4>
                            <p class="lead"><small class="lead">Экстремальные</small></p>
                            <p class="card-text">При движении лучи вращаются по синхронизированным орбитам, поднимая посетителей на высоту птичьего полета.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                            </div>
                            <div class="text-body-secondary">
                                <div><small class="text-muted">от </small>105<small class="text-muted"> см</small></div>
                                <div>500<small class="text-muted"> рублей</small></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img class="card_photo" src="{{ url_for('static', filename='images/attraction/ladia.jpg') }}">
                        <div class="card-body">
                          <h4>Ладья «360»</h4>
                            <p class="lead"><small>Экстремальные</small></p>
                            <p class="card-text">Аттракцион «360» в парке развлечений «Паркион» подарит вам целое море незабываемых ощущений. Вы будете смеяться и замирать от волнения.</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                            </div>
                            <div class="text-body-secondary">
                                <div><small class="text-muted">от </small>120<small class="text-muted"> см</small></div>
                                <div>500<small class="text-muted"> рублей</small></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col">
                      <div class="card shadow-sm">
                        <img class="card_photo" src="{{ url_for('static', filename='images/attraction/kraken.jpg') }}">
                        <div class="card-body">
                          <h4>Кракен</h4>
                            <p class="lead"><small>Экстремальные</small></p>
                            <p class="card-text">Гроза ирландских моряков протянет к вам свои щупальца и заставит испытать целое море невероятных эмоций!</p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                            </div>
                            <div class="text-body-secondary">
                                <div><small class="text-muted">от </small>120<small class="text-muted"> см</small></div>
                                <div>500<small class="text-muted"> рублей</small></div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                          <img class="card_photo" src="{{ url_for('static', filename='images/temparks/haski.jpg') }}">
                          <div class="card-body">
                            <h4>Хаски Лэнд</h4>
                              <p class="card-text">Дети и взрослые получат незабываемое удовольствие от общения с великолепными хаски/</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                              </div>
                              <div class="text-body-secondary">
                                  <div>900<small class="text-muted"> рублей</small></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card shadow-sm">
                          <img class="card_photo" src="{{ url_for('static', filename='images/temparks/topiari.png') }}">
                          <div class="card-body">
                            <h4>Топиари парк</h4>
                              <p class="card-text">Здесь вас ждут потрясающие скульптуры из живых растений, они приведут в восторг детеq и взрослых.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                              </div>
                              <div class="text-body-secondary">
                                  <div>900<small class="text-muted"> рублей</small></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="card shadow-sm">
                          <img class="card_photo" src="{{ url_for('static', filename='images/temparks/enotia.jpg') }}">
                          <div class="card-body">
                            <h4>Страна Енотия</h4>
                              <p class="card-text">В зоопарке представлено более 30 видов животных: пернатых, чешуйчатых, пушистых.</p>
                            <div class="d-flex justify-content-between align-items-center">
                              <div class="btn-group">
                                <a href="{{ url_for('price') }}" class="btn btn-sm btn-outline-secondary">Купить</a>
                              </div>
                              <div class="text-body-secondary">
                                  <div>900<small class="text-muted"> рублей</small></div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div> 
                </div>
            </div>
{% endblock %}